{% extends "::backend/page/dashboard_4.html.twig" %}

{% block header %}

    <link href="/backend/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="/backend/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="/backend/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/backend/css/plugins/codemirror/codemirror.css" rel="stylesheet">

    <link href="/backend/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/backend/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/backend/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

{% endblock %}

{% block titulo %}Petro Pack{% endblock %}
{% block empresa %}Petro Pack{% endblock %}
{% block modulo %}Producto{% endblock %}
{% block desripcion %} Listado de producto {% endblock %}

{% block menu %} {{ render(controller('PetroPackMenuBundle:Menu:items')) }}{% endblock %}

{% block body %}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1"> Información del producto</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2"> Datos</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3"> Descuentos</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4"> Imagenes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">

                                <fieldset class="form-horizontal">
                                    <div class="form-group"><label class="col-sm-2 control-label">Nombre:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Product name" value="{{ nombre }}"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Precio:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Ingrese precio" value="{{ precio }}"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Descripcion:</label>
                                        <div class="col-sm-10">
                                            <div class="summernote">
                                                {{ descripcion }}<br/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-white" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Save changes</button>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">

                                <fieldset class="form-horizontal">
                                    <div class="form-group"><label class="col-sm-2 control-label">ID:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="" value="{{ id }}"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Codigo:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="" value="{{ codigo }}"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Modelo:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="..."></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Ubicacion:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="location"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Tax Class:</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" >
                                                <option>option 1</option>
                                                <option>option 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Cantidad:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Quantity" value="{{ cantidad }}"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Maxima cantidad:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="2"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Orden:</label>
                                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="0"></div>
                                    </div>
                                    <div class="form-group"><label class="col-sm-2 control-label">Estado:</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" >
                                                <option>Habilitado</option>
                                                <option>Inhabilidato</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">Cancel</button>
                                            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                                        </div>
                                    </div>
                                </fieldset>


                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">

                                <div class="table-responsive">
                                    <table class="table table-stripped table-bordered">

                                        <thead>
                                        <tr>
                                            <th>
                                                Grupo
                                            </th>
                                            <th>Cantidad
                                            </th>
                                            <th>
                                                Descuento
                                            </th>
                                            <th style="width: 20%">
                                                Fecha de comienzo
                                            </th>
                                            <th style="width: 20%">
                                                Fecha de fin
                                            </th>
                                            <th>
                                                Actiones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <select class="form-control" >
                                                    <option selected>Group 1</option>
                                                    <option>Group 2</option>
                                                    <option>Group 3</option>
                                                    <option>Group 4</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="10">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" placeholder="$10.00">
                                            </td>
                                            <td>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="07/01/2014">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="07/01/2014">
                                                </div>
                                            </td>
                                            <td>
                                                <button class="btn btn-white"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-white" type="submit">Guardar</button>
                                    <button class="btn btn-primary" type="submit">Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="table-responsive" id="lista_imagenes_productos">
                                    <table class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Vistam Imagen
                                            </th>
                                            <th>
                                                Url Imagen
                                            </th>
                                            <th>
                                                Orden
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for imagen in imagenes %}
                                        <tr>
                                            <td width="20%" align="center">
                                                <img width="150" height="150" src="{{ imagen.url }}">
                                            </td>
                                            <td width="60%">
                                                <input type="text" class="form-control" disabled value="{{ imagen.url }}">
                                            </td>
                                            <td width="10%" id="{{ imagen.id }}">
                                                <input type="text" class="form-control orden_img" value="{{ imagen.orden }}">
                                            </td>
                                            <td width="20%" id="{{ imagen.id }}">
                                                <button class="btn btn-white" onclick="javascript:remove_image('{{ imagen.id }}')"><i class="fa fa-trash"></i> </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Arrastrar las imagenes</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <form action="/backend/producto/file/upload/{{ producto_id }}" class="dropzone" id="dropzoneForm">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% endblock %}


{% block javascripts %}

    <!-- Jasny -->
    <script src="/backend/js/plugins/jasny/jasny-bootstrap.min.js"></script>

    <!-- DROPZONE -->
    <script src="/backend/js/plugins/dropzone/dropzone.js"></script>

    <!-- CodeMirror -->
    <script src="/backend/js/plugins/codemirror/codemirror.js"></script>
    <script src="/backend/js/plugins/codemirror/mode/xml/xml.js"></script>

    <!-- SUMMERNOTE -->
    <script src="/backend/js/plugins/summernote/summernote.min.js"></script>

    <!-- Data picker -->
    <script src="/backend/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>

        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            dictDefaultMessage: "<strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)"
        };

        function remove_image(id) {
            $.ajax({
                type:'POST',
                dataType:'json',
                url: "/backend/producto/{{ id }}/imagen/remove/"+id,
                success: function(result){
                    $("#lista_imagenes_productos").html(result.lista_imagenes_productos);
                }
            });
        }

        function uploadArchivo(id) {
            $.ajax({
                type:'POST',
                dataType:'json',
                url: "/backend/producto/file/upload/"+id,
                success: function(result){
                    $("#lista_imagenes_productos").html(result.lista_imagenes_productos);
                }
            });
        }

        $(document).ready(function(){

            $( ".orden_img" ).change(function() {
                $.ajax({
                        type:'POST',
                        dataType:'json',
                        url: "/backend/producto/imagen/"+$(this).parent().attr('id')+"/orden/"+$(this).val(),
                        success: function(result){
                            //alert('Se guardo');
                        }
                });
            });

            $('.summernote').summernote();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });
    </script>
{% endblock %}
